// index.module.scss

// :global {
//   body {
//     margin: 0;
//     padding: 0;
//   }
// }

// Font Families
@font-face {
    font-family: 'Drexs';
    src: url('/fonts/drexs.otf') format('truetype');
}

@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Regular.ttf') format('truetype');
}



// Homepage Styling

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #1786d0, #a638d2);

}

.p {
    font-family: 'Drexs';
    
    
}

.paragraph {
    font-size: 15px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: bold;
    color: black;
}

.square {
    width: 600px;
    height: 600px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.387);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 0 20px;
    text-align: center; /* Add this line */

}

.h1 {
    text-align: left; /* Align text to the left */
    font-size: 75px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-left: 20px; /* Add margin to the left for spacing */
    font-family: 'Drexs';
    font-weight: bold;
}

.blinkingUnderscore {
    animation: blink 0.5s infinite; /* Change the animation duration */
}

@keyframes blink {
    0%, 100% {
        opacity: 0; /* Change visibility to opacity for smoother animation */
    }
    50% {
        opacity: 1;
    }
}
